@model Switch.Api.Models.CadastroViewModel
@{
    ViewData["Title"] = "Cadastrar";
    ViewData["Style"] = "estilos.css";
}

<div class="text-center">
    <h1 class="display-4">Complete os campos</h1>
    <div asp-validation-summary="All"></div>
    <form method="post">
        <div>
            <label asp-for="Nome">Nome</label><br>
            <input asp-for="Nome">
        </div>

        <div>
            <label asp-for="Email">Email</label><br>
            <input asp-for="Email">
        </div>
        <div>
            <input type="radio" asp-for="Carro" id="rdCarroSim" value="true">
            <label for="rdCarroSim">Vou dirigindo</label><br>
        </div>
        <div>
            <input type="radio" asp-for="Carro" id="rdCarroNao" value="false">
            <label for="rdCarroNao">Vou andando</label><br>
        </div>
        <div>
            <input type="radio" asp-for="Acompanhado" id="rdAcompanhadoSim" value="true">
            <label for="rdAcompanhadoSim">Vou Acompanhado</label><br>
        </div>
        <div>
            <input type="radio" asp-for="Acompanhado" id="rdAcompanhadooNao" value="false">
            <label for="rdAcompanhadooNao">Vou sozinho :(</label><br>
        </div>
        <input type="submit" value="Salvar" />
    </form>
</div>
