@model Switch.Api.Models.CadastroViewModel
@{
    ViewData["Title"] = "Cadastrar";
}

<div class="text-center">
    <h1 class="display-4">Obrigado pela colaboração</h1>
    <h6>sua inscrição foi salva, te esperamos lá</h6>
    <p>
        <a asp-action="Index">voltar ao inicio</a>  ou <a asp-action="Lista">ver lista</a>
    </p>
</div>
